@page
@model WebClient.Pages.InventoryRecord.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InventoryRecord</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryRecord.ProductId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryRecord.ProductId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryRecord.WarehouseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryRecord.WarehouseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryRecord.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryRecord.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InventoryRecord?.RecordId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
